@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="mb-3">
        <label for="inputTextArea">Input:</label>
        <textarea data-aiSummary class="form-control" placeholder="" id="inputTextArea" rows="25"></textarea>
    </div>

</form>


@* Summary Modal *@
<div class="modal fade" id="summaryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="summaryModalLabel">Summary</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divTextSummary"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/AiSummary.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            await AiSummary.Init();
        });
    </script>

}